{% extends "layout.html" %}
{% block body %}
<h1>体重グラフ</h1>
<canvas id="myLineChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
var ctx = document.getElementById("myLineChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ data.date | tojson }},
    datasets: [
        {
            label: 'あそぶ',
            data: {{ data.weight | tojson}},
            borderColor: "rgba(255,0,0,1)",
            backgroundColor: "rgba(0,0,0,0)",
            spanGaps: true
        }
    ]
 },
  options: {
    title: {
      display: true,
      text: '体重変化'
    },
    scales: {
      yAxes: [{
        ticks: {
          suggestedMax: 75,
          suggestedMin: 60,
          stepSize: 5,
          callback: function(value, index, values){
            return  value +  'kg'
          }
        }
      }]
    },
  }
});
</script>
{% endblock %}