{% extends "layout.html" %}
{% block body %}
<h1>体重グラフ</h1>

<form class="form-inline" action="{{ url_for('dashboard.top') }}" method="GET">
    <span>期間</span>
    <div class="form-group">
      <div class="col-1">
        <input name="from_date" class="form-control" required type="date" value="{{ period.from_date | safe }}">
      </div>
    </div>
    <span>～</span>
    <div class="form-group">
      <div class="col-1">
        <input name="to_date" class="form-control" required type="date" value="{{ period.to_date | safe }}">
      </div>
    </div>
    <div class="input-group-prepend">
      <button class="btn btn-success" type="submit">更新</button>
    </div>
</form>

<canvas id="myLineChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
var ctx = document.getElementById("myLineChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ data.date | tojson }},
    datasets: [
        {
            label: {{ data.name | tojson }},
            data: {{ data.weight | tojson}},
            borderColor: "rgba(255,0,0,1)",
            backgroundColor: "rgba(0,0,0,0)",
            spanGaps: true
        }
    ]
 },
  options: {
    title: {
      display: true,
      text: '体重変化'
    },
    scales: {
      yAxes: [{
        ticks: {
          stepSize: 5,
          callback: function(value, index, values){
            return  value +  'kg'
          }
        }
      }]
    },
  }
});
</script>
{% endblock %}